:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #34415a;
    --dark3: #566961;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --cyan: #70e3ea;    
}
/* Reset do CSS - todos seletores */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--dark1);
    height: 100vh;
    font-family: "Lato";
}